@model List<Todo.Web.Models.ClientViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("CategoryView")

    <p>Tempdata = @TempData["isim"]</p>

    <h2>Modelden gelen data</h2>
    @foreach (var item in Model)
    {
        <p>@item.name</p>
    }

