@model List<ClientViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@Html.Partial("CategoryView")*@

<partial name="CategoryView"/>

<sectionhelper data="mustafa"></sectionhelper>

    <a asp-controller="Home" asp-action="Index" asp-route-id="1">content</a>

<p>Tempdata = @TempData["isim"]</p>

<h2>Modelden gelen data</h2>
@foreach (var item in Model)
{
    <p>@item.name</p>
}

