
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageError</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h2>@ViewBag.Status</h2>
    <p>@ViewBag.Code</p>
    <a class="btn btn-success" role="button" href="/Home/Index">AnaSayfa</a>
</body>
</html>
